.gallery{
    .gallery-row{
        &+.gallery-row{
            margin-top: 30px;
        }
        & >div[class^="col-"]{
            padding-bottom: 15px;
            padding-top: 15px;
        }
    }
    .thumb-wrapper{
        .thumbnail{
            padding: 0;
            border: 0 none;
            border-radius: 0;
            margin-bottom: 15px;
        }
        .thumb-title{
            font-size: $font-size-large;
        }
    }
}
img,
iframe{
    max-width: 100%;
}
.img-thumbnail{
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.3);
}
