*::-moz-selection {
    color: #fff;
    background: $brand-primary;
    text-shadow: none;
}

*::selection {
    color: #fff;
    background: $brand-primary;
    text-shadow: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
}

.row{
    width: auto;
}

.wrap {
    padding: 0 0 50px;
    flex: 1;
    order: 0;

    &.container{
        max-width: 100%;
    }
    &.container-fluid{
        width: 100%;
    }
}

.navbar-static-top{
    margin-bottom: 0;
}
.table-hover > tbody > tr{
    transition: background-color .1s ease-in-out;
}
/*.navbar-default .form-inline .input-group .form-control{*/
     /*width: auto;*/
/*}*/
